
.app {
 
  text-align: center;
}

.header {
 
  padding: 20px;
  color: white;
}

.content {
  padding: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

p {
  margin-top: 20px;
  font-size: 18px;
}
.counter {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  width: 220px;
  text-align: center;
}

.count-display {
  font-size: 48px;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
}
.counterbtn:hover{
  border-color: blue;
}
